<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org/ ">

<head th:replace="fragments :: head"></head>
<br />
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<br />
<nav th:replace="fragments :: navigation"></nav>
<hr />

<p th:unless="${stories} and ${stories.size()}">No Stories</p>

<form method="post">
    <div th:each="story : ${stories}" class="checkbox">
        <input type="checkbox" name="storyIds" th:value="${story.Id}" th:id="${story.Id}" />
        <label th:for="${story.Id}" th:text="${story.name}" ></label>
        <br />
    </div>
<hr />
    <input type="submit" value="Remove Story"/>

</form>

</body>
</html>